{% extends 'bootstrap/base.html' %}
{% block content %}

<style type ="text/css">
.container 
{
    color:maroon;
    
}
.jumbotron 
{
    font-size:60px;
    font-weight:bold;
    background-image:url("static/images/posBack.jpg");
    color:white;
    
}
.contain 
{
    border: 2px solid rgb(182, 3, 3);
    height:200px;
    font-size: 20px;
    background-color:white;
    margin:3px;
    padding:3px;
}
.whole 
{
    background-color:rgba(245, 242, 70, 0.973);
}
</style>
<div class="whole">
<div class = "container">
    <div class="jumbotron text-center">
          POSITIVE TWEETS
    </div>
</div>

<div class="container">
        {% for j,k,q,h in content %}
<div class="contain">
        
        {{j}}
        <br><br><br><br>
        
        <a href="{{search_url}}/status/{{h}}" name="action" value="view_tweet" class="btn btn-primary">VIEW TWEET</a>

        retweets:
        {{k}}
        <img src="static\images\re.png">
        likes:
        {{q}}
        <img src="static\images\heart.jpg">
</div>
<br><br>
{% endfor %}
{%endblock%}
</div>
</div>


